*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: linear-gradient(#fff,rgba(10, 160, 194, 0.5));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 1200px;
    border: 3px solid #1d0bc4;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px 0px black;
    font-size: 100%;
    background-color: #9cc5c7;
}
header  {
    margin-bottom: 2px;
}
header img{
    float: left;
    height: 150px;
    width: 200px;
    margin-top: 10px;
}
header .hgroup{
    text-align: center;
}
.hgroup h1{
    color: rgb(241, 110, 2);
    font-size: 500%;
    text-shadow: 3px 3px 4px black;
}
.hgroup h2{
    padding: 20px;
    color: rgb(16, 13, 212);
    font-style: italic;
    font-size: 40px;
}
header, footer:after{
    display: block;
    clear: left;
    content: '';
}
a:hover{
    color: red;
}
#so2 h4{
    color: green;
}
ul{
    margin-left: 25px;
}

#so0{
    margin-left: 20px;
    font-size: 20px;
    padding: 5px;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
}
#so1{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 49%;
    float: left;
    border-right: 2px solid orangered;
}
#so2{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 49%;
    float: left;
    
}
footer{
    border-top: 2px solid orangered;
    text-align: right;
    font-size: 80%;;
    padding-top: 5px;
    margin-top: 320px;
}
.so3{
    margin-top: 20px;
}