*{
    margin: 0;
    padding: 0;
    color: rgb(13, 11, 179);
}

.cha,.me,.con,.con1,.con2,.chau1,.chau2 {
    border: 2px solid rgb(248, 6, 6);
    height: 100px;
    text-align: center;
    font-size: 25px;
    /* margin: 20px; */
}
.abc{
    width: 100%;
}
.col1{
    width: 33.3333333%;
    float: left;
}
.col2{
    width: 66.6666666%;
    float: left;
}
.col3, .col4{
    width: 50%;
    float: left;
}
.abc::after{
    clear: both;
    content: '';
    display: block;
}
@media screen and (max-width: 768px) {
    .col1, .col2{
        width: 100%;
    }
    .col5, .col6{
        width: 50%;
        float: left;
}
    .con{
        display: none;
    }

}
@media screen and (max-width: 480px){
    .col1, .con7, .col3, .col4, .col5 {
        width: 100%;
    }
    .col2, .col6 {
        display: none;
    }
    .col7 {
        display: block;
    }
}