*{
    margin: 0;
    padding: 0;
    color: rgb(241, 244, 247);
}


.quan::after {
    clear: both;
    content: '';
    display: block;
}

.dan1,.dan2,.dan3,.dan4,.dan5,.dan6,.dan7,.dan8,.dan9,.dan10 {
    border: 2px solid green;
    margin: 3px;
    background-color: green;
}

.linh1,.linh2,.linh3,.linh4{
    float: left;
}
.dan5 {
    height: 150px;
    text-align: right;
    border-radius: 15px;
}
.linh5{
    font-size: 30px;
    margin-bottom: 10px;
}
.linh6,.linh7{
    width: 50%;
    float: left;
    text-align: right;
}
.linh8,.linh9{
    width: 50%;
    float: left;
    text-align: right;
}
.linh10{
    text-align: center;
}

.dan1,.dan2,.dan3,.dan4{
    font-size: 14px;
}
.dan6,.dan7,.dan8,.dan9{
    height: 70px;
    border-radius: 15px;
}
.dan10{
    height: 15px;
    font-size: 12px;
    border-radius: 12px;
}

@media screen and (max-width: 800px){
    .linh6,.linh7,.linh8,.linh9{
        width: 25%;
    }
    .dan6,.dan7,.dan8,.dan9{
        height: 200px;
    }
}

@media screen and (max-width: 300px){
    .linh1,.linh2,.linh3,.linh4{
        width: 100%;
    }
    .dan1,.dan2,.dan3,.dan4{
        border-radius: 12px;
        text-align: center;
    }
    .linh6,.linh7,.linh8,.linh9{
        width: 100%;
    }
    .dan6,.dan7,.dan8,.dan9{
        height: 40px;
        text-align: center;
        font-size: 20px;
    }
    .dan5{
        height: 70px;
        text-align: center;
        font-size: 25px;
    }
}